{{! This template displays a post in its entirety.
    It is used to display the latest post in the index, and any single post }}
<article class="hentry clearfix {{post_class}}" role="article">

    <header class="article-header">

<p class="byline vcard">

            <time class="updated" datetime="2012-05-03">
                {{date published_at format="MMMM DD, YYYY"}}
            </time>
            
        </p>

        <h1 class="h2">
            <!-- <a href="/{{slug}}" rel="bookmark" title="{{title}}">{{title}}</a> -->
            {{title}}
        </h1>

        {{! Featured images are not yet implemented in Ghost.
            But when they are, this will be awesome. }}
        {{#if image}}
            <figure class="featured-image">
                <img src="/content/images/{{image}}" class="attachment-post-thumbnail" alt="">
            </figure>
        {{/if}}
    </header> <!-- end article header -->

    <section class="entry-content clearfix">
        {{content}}
    </section> <!-- end article section -->
    <hr>

    <footer class="article-footer">

  

        {{#if tags}}
            <p class="tags">
                <span class="tags-title">
                    Tags:
                    {{#each tags}}
                        <!-- Tag Links are not quite ready yet.
                           <a href="/tags/{{this.name}}"
                           class="tag-label"
                           title="View all posts in {{this.name}}"
                           rel="category">{{this.name}}</a>
                           -->
                        {{! Use the span below to display tags as plain text until tag links are ready }}
                        <span class="tag-label">{{this.name}}</span>
                    {{/each}}
                </span>
            </p>
            <hr>
        {{/if}}

        <section  class="author clearfix">
            <div class="twocol first avatar">
                <img src="{{author.image}}" class="author-img" title="author pic"/>
            </div>
            <div class="tencol author-bio">
                <h4>{{author.name}}</h2>
                <!-- <small>{{author.location}}</small> -->
                <p>{{author.bio}}</p>
            </div>
        </section>  

    </footer> <!-- end article footer -->
    <hr>
</article>