<!DOCTYPE html>
<!-- 
    Theme Name:  Heimdallr
    Copyright:   NorthernFolks, Copyright 2013, NorhernFolks, http://www.northernfolks.com
    Authors:     Aaron Sananes & Daniel Sandvik
    Website:     http://www.northernfolks.com
-->

<!--[if lt IE 7]><html lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US" class="js flexbox webgl no-touch geolocation hashchange history websockets rgba hsla multiplebgs backgroundsize borderimage textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage applicationcache svg svgclippaths mediaqueries no-regions no-supports no-js" style="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{settings.title}}</title>

    <meta name="description" content="{{@blog.description}}">
    
    <!-- mobile meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Social Cards -->
    <meta property="og:site_name" content="{{meta_title}}">
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Apollo" />
    <meta property="og:description" content="{{@blog.description}}" />
    {{#if @blog.logo}}
    <meta property="og:image" content="{{@blog.logo}}" />
    {{/if}}
    <meta property="og:type" content="website">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sites_twitter_handle">
    <meta name="twitter:creator" content="@authors_twitter_handle">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{@blog.description}}">
    {{#if @blog.logo}}
    <meta name="twitter:image:src" content="{{@blog.logo}}">
    {{/if}}
    
    <!-- Announce the rss feed -->
    <link rel="alternate" type="application/rss+xml" title="{{@blog.title}} » Feed" href="/rss">
    <link href="/images/favicon.png" rel="icon" type="image/png" />
    <!-- Add Modernizr for better IE8 Support -->
    <script type="text/javascript" src="/assets/js/libs/modernizr.custom.min.js"></script>

    <script type="text/javascript" src="//use.typekit.net/efw0hjf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Include the main stylesheet-->
    <link rel="stylesheet" id="linen-stylesheet-css" href="/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="linen-stylesheet-css" href="/assets/css/animate.css" type="text/css" media="all">

    <!-- Include color schemes ->
    <!-- <link rel="stylesheet" id="linen-stylesheet-css" href="/assets/css/green.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="linen-stylesheet-css" href="/assets/css/red.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="linen-stylesheet-css" href="/assets/css/orange.css" type="text/css" media="all"> -->

    
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='linen-ie-only-css'  href='/assets/css/ie.css' type='text/css' media='all' />
    <![endif]-->

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <!-- Include custom CSS -->
    <link rel="stylesheet" id="custom-stylesheet-css" href="/assets/css/custom.css" type="text/css" media="all">
</head>


<body class="{{body_class}} animate fadeIn">

    <div id="container">
        
        {{! Output the content of the header partial template }}
        {{> header}}

        <section id="content">
            {{! The 'inner' divs provide a nice wrapper for content to help with fluidity and responsiveness }}
            <div id="inner-content" class="sevencol wrap clearfix">

                {{! The main section uses eight columns in the grid framework }}

                <main id="main" class="first clearfix" role="main">
                    {{{body}}}
                </main> <!-- end #main -->

                {{! The sidebar fills in the remaining four columns }}
            

            </div> <!-- end #inner-content -->

        </section> <!-- end #content -->

        <footer class="footer center" role="contentinfo">
            <div id="inner-footer" class="sevencol wrap align-center clearfix">
                <p class="source-org copyright">Copyright © Heimdall. A Ghost theme by <a href="http://www.northenfolks.com">Northern Folks</a></p> <p class="back-to-top"><a href="#">Back to Top</a></p>
            </div> <!-- end #inner-footer -->
        </footer> <!-- end footer -->

    </div> <!-- end #container -->

    <!-- The Ghost footer helper will insert some shared javascript libraries and files required by plugins -->
    {{ghost_foot}}

    <!-- Custom Scripts -->
    <script type="text/javascript" src="/assets/js/libs/animation.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>
</html>